# Servidor
PORT=3001
NODE_ENV=development

# Criptografia (AES-256 - MÍNIMO 32 CARACTERES)
CRYPTO_KEY=ALTERE_ESTA_CHAVE_PARA_32_CARACTERES_MINIMO_EM_PRODUCAO

# CORS
FRONTEND_URL=http://localhost:5173

# Autenticação (MÍNIMO 64 CARACTERES)
JWT_SECRET=ALTERE_ESTE_SEGREDO_JWT_PARA_64_CARACTERES_MINIMO_EM_PRODUCAO_EXEMPLO

# (Futuro) KMS/HSM para produção
# AWS_KMS_KEY_ID=
# AWS_REGION=
# VAULT_ADDR=
# VAULT_TOKEN=

# Logging
LOG_LEVEL=debug
